node_modules/
.next/
.env
.env.local
database.sql
*.tsbuildinfo
next-env.d.ts
public/uploads/transfer-receipts/*
!public/uploads/transfer-receipts/.gitkeep
public/uploads/digital-products/*
!public/uploads/digital-products/.gitkeep
